//theme
$main_color: #1CC88A;

//font color
$color_white:#ffffff;
$font_color: #5A5C69;

//status color
$color_waiting: #f6c23e;
$color_reject: #e74a3b;
$color_success: #1cc88a;
$color_pending: #36b9cc;
