@import '_variable.scss';
@import 'Setting.scss';
@import 'CarSetting.scss';

html,body{
    width:100%;
    height:100%;
}

h1{
    color:$font_color;
}

.layout-header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: $main_color;

    .bar-menu {
        color: white;
        padding: 15px;

        :hover {
            cursor: pointer;
        }
    }

    .profile {
        padding: 15px;
        color: white;
        position: relative;

        &:hover {
            cursor: pointer;
        }

        .list-group{
            position:absolute;
            left:0;
            top:80%;
            width:100%;
            display:none;
            li{
                color:black;
                a{
                    color:black;
                    display:block;
                    &:hover{
                        text-decoration:none;
                    }
                    i{
                        padding-top:4px;
                    }
                }
            }
        }
    }
}

.layout-body {
    display: flex;
    //height: calc(100vh - 60px);
    min-height:90%;

    .menu {
        width: 20%;
        background-color: white;
        overflow:auto;

        .list-menu {
            list-style-type: none;
            padding: 0;

            .item-menu {
                align-items: center;
                border-bottom:solid 1px #eeeeee;

                a {
                    display: block;
                    color: $main_color;
                    padding:15px;
                    i {
                        padding-top: 4px;
                    }

                    &:hover {
                        text-decoration: none;
                        cursor: pointer;
                        background-color: #eeeeee;
                    }
                }

                ul.sub-menu {

                    li.item-sub-menu {
                        align-items: center;
                        margin-left: 5px;

                        a {
                            display: block;
                            color: black;
                            padding:15px;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .active{
                background-color:#eeeeee;
            }
        }
    }

    .content {
        padding: 15px;
        background-color: #eeeeee;
        width: 100%;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.border-width-5{
    border-width:5px;
}
.line-height-60{
    line-height:60px;
}
.border-left-color{
    border-left-color:$main_color;
}

//color status
.status-waiting{
    color:$color_waiting;
}
.status-reject{
    color:$color_reject;
}
.status-success{
    color:$color_success;
}
.status-pending{
    color:$color_pending;
}

.setting-item {
    &:link {
        color: $main_color;
    }

    &:hover {
        cursor: pointer;
        background-color: #808080;
        text-decoration: none;
    }

    &:visited {
        color: $main_color;
    }
}

//table
table{
    thead{
        text-align:center;
    }
}