
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="settingModule">
    <h1>ตั้งค่า</h1>

    <div class="row">
        <div class="col-md-4">
            <a href="/Managebranch" class="setting-item">
                <div class="card rounded border-primary border-top-0 border-right-0 border-bottom-0 border-width-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-img-top text-center"><i class="fa fa-code-branch fa-4x m-1"></i></div>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text text-center line-height-60">สาขา</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            
        </div>
        <div class="col-md-4">
            <a href="/CarSetting" class="setting-item">
                <div class="card rounded border-primary border-top-0 border-right-0 border-bottom-0 border-width-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-img-top text-center"><i class="fa fa-car fa-4x m-1"></i></div>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text text-center line-height-60">ข้อมูลเกี่ยวกับรถ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/RepairShop" class="setting-item">
                <div class="card rounded border-primary border-top-0 border-right-0 border-bottom-0 border-width-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-img-top text-center"><i class="fa fa-wrench fa-4x m-1"></i></div>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text text-center line-height-60">ข้อมูลร้านซ่อม</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {

        });
    </script>
}


