
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-camera"></i> เพิ่มข้อมูลรูปรถ[ทท 1234]</h1>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="/MakePhotoCar">ถ่ายรูป</a></li>
        <li class="breadcrumb-item active" aria-current="page">เพิ่มข้อมูลรูปรถ[ทท 1234]</li>
    </ol>
</nav>

<form>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5><i class="fa fa-upload"></i> อัพโหลดรูป</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-info"><i class="fa fa-upload"></i> Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5><i class="fa fa-images"></i> รูปทั้งหมด</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <img src="https://www.checkraka.com/uploaded/logo/43/43f469bb05bcda9b93891a59816e9ac6.jpg" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="https://www.checkraka.com/uploaded/logo/43/43f469bb05bcda9b93891a59816e9ac6.jpg" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="https://www.checkraka.com/uploaded/logo/43/43f469bb05bcda9b93891a59816e9ac6.jpg" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="https://www.checkraka.com/uploaded/logo/43/43f469bb05bcda9b93891a59816e9ac6.jpg" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="https://www.checkraka.com/uploaded/logo/43/43f469bb05bcda9b93891a59816e9ac6.jpg" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="https://www.checkraka.com/uploaded/logo/43/43f469bb05bcda9b93891a59816e9ac6.jpg" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="https://www.checkraka.com/uploaded/logo/43/43f469bb05bcda9b93891a59816e9ac6.jpg" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <img src="https://www.checkraka.com/uploaded/logo/43/43f469bb05bcda9b93891a59816e9ac6.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

