@inject UseCar.Helper.DropdownList dropdownList
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-user-lock"></i> สิทธิ์การใช้งานระบบ</h1>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="/Admin">ผู้ดูแลระบบ</a></li>
        <li class="breadcrumb-item active" aria-current="page">สิทธิ์การใช้งานระบบ</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h5><i class="fa fa-search"></i> ข้อมูลแผนก</h5>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">แผนก</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="departmentId" asp-items="dropdownList.DeaprtmentAll()" onchange="DepartmentMenuPermission();"></select>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mt-2">
    <div class="card-header">
        <h5><i class="fa fa-clipboard-list"></i> สิทธิ์การใช้งานระบบ</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="20%">เมนู</th>
                            <th width="80%">สิทธิ์การใช้งาน</th>
                        </tr>
                    </thead>
                    <tbody id="permission">
                        @*<tr>
                            <td>ข้อมูลรถ</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                ดูข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="add" checked>
                                            <label class="form-check-label" for="add">
                                                เพิ่มข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                แก้ไขข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                ลบข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>ส่งซ่อม</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                ดูข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="add" checked>
                                            <label class="form-check-label" for="add">
                                                เพิ่มข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                แก้ไขข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                ลบข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>เช็ครถ</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                ดูข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="add" checked>
                                            <label class="form-check-label" for="add">
                                                เพิ่มข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                แก้ไขข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                ลบข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>ล้างทำความสะอาด</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                ดูข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="add" checked>
                                            <label class="form-check-label" for="add">
                                                เพิ่มข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                แก้ไขข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                ลบข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>ถ่ายรูป</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                ดูข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="add" checked>
                                            <label class="form-check-label" for="add">
                                                เพิ่มข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                แก้ไขข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                ลบข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>ข้อมูลการขาย</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                ดูข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="add" checked>
                                            <label class="form-check-label" for="add">
                                                เพิ่มข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                แก้ไขข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="view" checked>
                                            <label class="form-check-label" for="view">
                                                ลบข้อมูล
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-6">
        <button type="button" class="btn btn-dark" onclick="window.history.back();"><i class="fa fa-arrow-left"></i> กลับ</button>
    </div>
    <div class="col-md-6 text-right">
        <button type="button" class="btn btn-danger" onclick="window.history.back();"><i class="fa fa-times"></i> ยกเลิก</button>
        <button type="button" class="btn btn-primary" onclick="Save();"><i class="fa fa-save"></i> บันทึก</button>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            DepartmentMenuPermission();
        });
        function DepartmentMenuPermission() {
            $('#permission > tr').remove();
            var _departmentId = $('#departmentId').val();
            var _menu, _departmentMenuPermission;
            $.ajax({
                url: '/PermissionManagement/GetMenu',
                type: 'GET',
                async: false,
                success: function (data) {
                    _menu = data;
                }
            });
            $.ajax({
                url: '/PermissionManagement/GetDepartmentMenuPermission',
                type: 'GET',
                async: false,
                data: {
                    departmentId: _departmentId
                },
                success: function (data) {
                    _departmentMenuPermission = data;
                }
            })
            var _element = '';
            _menu.forEach(function (menu) {
                _element += '<tr>';
                _element += '<td>' + menu.menuName + '</td>';
                _element += '<td>';
                var _menuPermission = _departmentMenuPermission.filter(function (permission) {
                    return permission.menuId == menu.menuId;
                });
                _element += '<div class="row">';
                _menuPermission.forEach(function (permission) {
                    var _isCheck = permission.menuPermissionId == permission.departmentMenuPermissionId ? 'checked' : '';
                    _element += '<div class="col-md-3">';
                    _element += '<div class="form-check">';
                    _element += '<input class="form-check-input" type="checkbox" value="' + permission.menuPermissionId+'" id="menuPermissionId_' + permission.menuPermissionId + '" ' + _isCheck+' >';
                    _element += '<label class="form-check-label" for="">&nbsp;' + permission.permissionName + '</label>';
                    _element += '</div>';
                    _element += '</div>';
                });
                _element += '</div>';
                _element += '</td>';
                _element += '</tr>';
            });
            $('#permission').append(_element);
            $('input[type=checkbox]').iCheck({
                checkboxClass: 'icheckbox_square-green',
            })
        }
        function Save() {
            var _menuPermissionId = '';
            $('input[id^=menuPermissionId_]').each(function () {
                if ($(this).is(':checked')) {
                    if (_menuPermissionId == '') {
                        _menuPermissionId = $(this).val();
                    } else {
                        _menuPermissionId = _menuPermissionId + ',' + $(this).val();
                    }
                }
            });
            $.ajax({
                url: '/PermissionManagement/Create',
                type: 'POST',
                data: {
                    departmentId: $('#departmentId').val(),
                    menuPermissionId: _menuPermissionId
                },
                success: function (data) {
                    ResponseDialog(data.code, window.location.href);
                }
            })
        }
    </script>
}

