
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-address-book"></i> ข้อมูลแผนก</h1>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="/Admin">ผู้ดูแลระบบ</a></li>
        <li class="breadcrumb-item active" aria-current="page">ข้อมูลแผนก</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h5><i class="fa fa-search"></i> ค้นหาข้อมูล</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">แผนก</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="textSearch" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" onclick="ReloadDatatable();"><i class="fa fa-search"></i> ค้นหา</button>
            </div>
        </div>
    </div>
</div>

<div class="card mt-1">
    <div class="card-header">
        <h5><i class="fa fa-clipboard-list"></i> ข้อมูลแผนก</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal" onclick="Add(0);"><i class="fa fa-plus"></i> เพิ่มข้อมูลแผนก</button>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-12">
                <table id="departmentTable" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>ชื่อแผนก</th>
                            <th>อัพเดทล่าสุด</th>
                            <th>โดย</th>
                            <th>
                                จัดการ
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">เพิ่ม/แก้ไขข้อมูลแผนก</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="departmentForm" asp-controller="DepartmentManagement" asp-action="Create" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
                    <input type="hidden" id="departmentId" name="departmentId" value="" />
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label">ชื่อแผนก</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="departmentName" name="departmentName" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> ปิด</button>
                            <button type="submit" class="btn btn-primary" onclick="Save();"><i class="fa fa-save"></i> บันทึก</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var datatable;
        $(document).ready(function () {
            Datatable();

            $('#textSearch').keyup(function (e) {
                if (e.keyCode === 13) {
                    ReloadDatatable();
                }
            })
        });
        function Datatable() {
            datatable = $('#departmentTable').DataTable({
                order: [],
                searching: false,
                ordering: true,
                lengthChange: false,
                pagingType: 'full_numbers',
                ajax: {
                    url: '/DepartmentManagement/GetDepartmentSearchResult',
                    type: 'GET',
                    data: function (d) {
                        d.departmentName = $('#textSearch').val()
                    },
                    dataSrc: function (data) {
                        return data;
                    },
                    statusCode: {
                        401: function (xhr, error, thrown) {
                            window.location.reload();
                            return false;
                        }
                    }
                },
                columns: [
                    {
                        data: 'departmentId',
                        className: 'text-center',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: 'departmentName',
                    },
                    {
                        data: 'updateDate',
                        render: function (data, type, row) {
                            return row.updateDate;
                        }
                    },
                    {
                        data: 'updateDate',
                        render: function (data, type, row) {
                            return row.updateDate;
                        }
                    },
                    {
                        data: 'departmentId',
                        className: 'text-center',
                        render: function (data, type, row) {
                            return '<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#addModal" onclick="Add(' + row.departmentId + ')"><i class="fa fa-edit"></i> แก้ไข</button>' +
                                ' <button type ="button" class="btn btn-danger btn-sm" onclick="Delete(' + row.departmentId + ')"><i class="fa fa-trash"></i> ลบ</button>';
                        }
                    }
                ]
            });
        }
        function ReloadDatatable() {
            datatable.ajax.reload();
        }
        function Add(departmentId) {
            $.ajax({
                url: '/DepartmentManagement/GetDepartmentId',
                type: 'GET',
                data:{
                    departmentId: departmentId
                },
                success: function (data) {
                    $('#departmentId').val(data.departmentId);
                    $('#departmentName').val(data.departmentName);
                }
            })
        }
        function Delete(departmentId) {
            $.showConfirm({
                title: "แจ้งเตือน",
                body: "คุณต้องการลบข้อมูล ใช่หรือไม่?",
                textTrue: "ใช่",
                textFalse: "ไม่ใช่",
                onSubmit: function (result) {
                    if (result) {
                        $.ajax({
                            url: '/DepartmentManagement/Delete',
                            type: 'POST',
                            data: {
                                departmentId: departmentId
                            },
                            success: function (data) {
                                ResponseDialog(data.code, window.location.href);
                            }
                        })
                    } 
                }
            })
        }
        function Save() {
            $("#departmentForm").validate({
                errorClass: 'text-danger'
            }); //sets up the validator
            $("#departmentName").rules("add", {
                required: true,
                messages: {
                    required: 'กรุณากรอกข้อมูล'
                }
            });
        }
        function completed(res) {
            $('#addModal').modal('hide');
            ResponseDialog(res.responseJSON.code, window.location.href);
        }
    </script>
}

