html, body {
  width: 100%;
  height: 100%; }

h1 {
  color: #5A5C69; }

.layout-header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #1CC88A; }
  .layout-header .bar-menu {
    color: white;
    padding: 15px; }
    .layout-header .bar-menu :hover {
      cursor: pointer; }
  .layout-header .profile {
    padding: 15px;
    color: white;
    position: relative; }
    .layout-header .profile:hover {
      cursor: pointer; }
    .layout-header .profile .list-group {
      position: absolute;
      left: 0;
      top: 80%;
      width: 100%;
      display: none; }
      .layout-header .profile .list-group li {
        color: black; }
        .layout-header .profile .list-group li a {
          color: black;
          display: block; }
          .layout-header .profile .list-group li a:hover {
            text-decoration: none; }
          .layout-header .profile .list-group li a i {
            padding-top: 4px; }

.layout-body {
  display: flex;
  min-height: 90%; }
  .layout-body .menu {
    width: 20%;
    background-color: white;
    overflow: auto; }
    .layout-body .menu .list-menu {
      list-style-type: none;
      padding: 0; }
      .layout-body .menu .list-menu .item-menu {
        align-items: center;
        border-bottom: solid 1px #eeeeee; }
        .layout-body .menu .list-menu .item-menu a {
          display: block;
          color: #1CC88A;
          padding: 15px; }
          .layout-body .menu .list-menu .item-menu a i {
            padding-top: 4px; }
          .layout-body .menu .list-menu .item-menu a:hover {
            text-decoration: none;
            cursor: pointer;
            background-color: #eeeeee; }
        .layout-body .menu .list-menu .item-menu ul.sub-menu li.item-sub-menu {
          align-items: center;
          margin-left: 5px; }
          .layout-body .menu .list-menu .item-menu ul.sub-menu li.item-sub-menu a {
            display: block;
            color: black;
            padding: 15px; }
            .layout-body .menu .list-menu .item-menu ul.sub-menu li.item-sub-menu a:hover {
              text-decoration: none; }
      .layout-body .menu .list-menu .active {
        background-color: #eeeeee; }
  .layout-body .content {
    padding: 15px;
    background-color: #eeeeee;
    width: 100%; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */ }

.border-width-5 {
  border-width: 5px; }

.line-height-60 {
  line-height: 60px; }

.border-left-color {
  border-left-color: #1CC88A; }

.status-waiting {
  color: #f6c23e; }

.status-reject {
  color: #e74a3b; }

.status-success {
  color: #1cc88a; }

.status-pending {
  color: #36b9cc; }

.setting-item:link {
  color: #1CC88A; }

.setting-item:hover {
  cursor: pointer;
  background-color: #808080;
  text-decoration: none; }

.setting-item:visited {
  color: #1CC88A; }

table thead {
  text-align: center; }
