
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="car-setting">
    <h1><i class="fa fa-car"></i> ข้อมูลรถ</h1>
    <hr />

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">หน้าแรก</a></li>
            <li class="breadcrumb-item"><a href="/Setting">ตั้งค่า</a></li>
            <li class="breadcrumb-item active" aria-current="page">ข้อมูลรถ</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-3 mb-1">
            <a href="/CarSetting/Brand" class="btn btn-primary btn-lg w-100 text-left text-white"><i class="fa fa-layer-group"></i> ยี่ห้อรถ</a>
        </div>
        <div class="col-md-3 mb-1">
            <a href="/CarSetting/Category" class="btn btn-primary btn-lg w-100 text-left text-white"><i class="fa fa-layer-group"></i> ประเภทรถ</a>
        </div>
        <div class="col-md-3 mb-1">
            <a href="/CarSetting/Option" class="btn btn-primary btn-lg w-100 text-left text-white"><i class="fa fa-layer-group"></i> อุปกรณ์เสริมอื่นๆ</a>
        </div>
        <div class="col-md-3 mb-1">
            <a href="/CarSetting/Color" class="btn btn-primary btn-lg w-100 text-left text-white"><i class="fa fa-layer-group"></i> สีของรถ</a>
        </div>
        <div class="col-md-3 mb-1">
            <a href="/CarSetting/Gear" class="btn btn-primary btn-lg w-100 text-left text-white"><i class="fa fa-layer-group"></i> ระบบเกียร์</a>
        </div>
        <div class="col-md-3 mb-1">
            <a href="/CarSetting/Seat" class="btn btn-primary btn-lg w-100 text-left text-white"><i class="fa fa-layer-group"></i> เบาะ</a>
        </div>
        <div class="col-md-3 mb-1">
            <a href="/CarSetting/DriveSystem" class="btn btn-primary btn-lg w-100 text-left text-white"><i class="fa fa-layer-group"></i> ระบบขับเคลื่อน</a>
        </div>
        <div class="col-md-3 mb-1">
            <a href="" class="btn btn-primary btn-lg w-100 text-left text-white"><i class="fa fa-layer-group"></i> ประเภทเครื่องยนต์</a>
        </div>
        <div class="col-md-3 mb-1">
            <a href="/CarSetting/CapacityEngine" class="btn btn-primary btn-lg w-100 text-left text-white"><i class="fa fa-layer-group"></i> ขนาดของเครื่องยนต์</a>
        </div>
        <div class="col-md-3 mb-1">
            <a href="/CarSetting/Type" class="btn btn-primary btn-lg w-100 text-left text-white"><i class="fa fa-layer-group"></i> ประเภทรถยนต์</a>
        </div>
    </div>
</div>

