
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-car"></i> รุ่นย่อย</h1>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="/Setting">ตั้งค่า</a></li>
        <li class="breadcrumb-item"><a href="/CarSetting">ข้อมูลรถ</a></li>
        <li class="breadcrumb-item"><a href="/CarSetting/Brand">ยี่ห้อรถ</a></li>
        <li class="breadcrumb-item"><a href="/CarSetting/Generation?brandId=1">รุ่นรถ</a></li>
        <li class="breadcrumb-item"><a href="/CarSetting/Face?brandId=1&generationId=1">โฉมรถ</a></li>
        <li class="breadcrumb-item active" aria-current="page">รุ่นย่อย</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h5><i class="fa fa-search"></i> ค้นหาข้อมูล</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ชื่อยี่ห้อ</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" value="Toyota" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ชื่อรุ่นรถ</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" value="Hilux Vigo" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">โฉมรถ</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" value="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ชื่อรุ่นย่อยรถ</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" value="" />
                    </div>
                </div>
            </div>
            <div class="col-md-8 text-right">
                <button class="btn btn-primary"><i class="fa fa-search"></i> ค้นหา</button>
            </div>
        </div>
    </div>
</div>

<div class="card mt-1">
    <div class="card-header">
        <h5><i class="fa fa-clipboard-list"></i> ข้อมูลรุ่นย่อย</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus"></i> เพิ่มรุ่นย่อยรถ</button>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-12">
                <table id="subFaceTable" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>รุ่นย่อยรถ</th>
                            <th>
                                จัดการ
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Hilux Vigo</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-light btn-sm"><i class="fa fa-edit"></i> แก้ไข</button>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> ลบ</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">เพิ่ม/แก้ไขรุ่นย่อยรถ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-12 col-form-label">ชื่อรุ่นย่อยรถ</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> ปิด</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> บันทึก</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#subFaceTable').DataTable({
                order: [],
                searching: false,
                ordering: true,
                lengthChange: false,
                pagingType: 'full_numbers',
                bSort: false,
            });
        });
    </script>
}
