@model UseCar.ViewModels.UserManagementViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-user-alt"></i> เพิ่มข้อมูลผู้ใช้งาน</h1>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="/Admin">ผู้ดูแลระบบ</a></li>
        <li class="breadcrumb-item"><a href="/UserManagement">ข้อมูลผู้ใช้งาน</a></li>
        <li class="breadcrumb-item active" aria-current="page">เพิ่มข้อมูลผู้ใช้งาน</li>
    </ol>
</nav>

<form asp-controller="UserManagement" asp-action="Create" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5><i class="fa fa-clipboard-list"></i> ข้อมูลผู้ใช้งาน</h5>
                </div>
                <div class="card-body">
                    <input type="hidden" asp-for="userId" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>รหัสผู้ใช้งาน</label>
                                        <input type="text" class="form-control" disabled asp-for="code" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>ชื่อ</label>
                                        <input type="text" class="form-control" asp-for="firstName" />
                                        <span asp-validation-for="firstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>นามสกุล</label>
                                        <input type="text" class="form-control" asp-for="lastName" />
                                        <span asp-validation-for="lastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>แผนก</label>
                                        <select class="form-control" asp-for="departmentId" asp-items="@ViewBag.Department">
                                            <option value="">กรุณาเลือก</option>
                                        </select>
                                        <span asp-validation-for="departmentId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>เบอร์โทร</label>
                                        <input type="text" class="form-control" asp-for="tel" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>อีเมล์</label>
                                        <input type="text" class="form-control" asp-for="email" />
                                    </div>
                                </div>
                                @{
                                    if (Model.userId == 0)
                                    {
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>ชื่อเข้าใช้งานระบบ</label>
                                                <input type="text" class="form-control" asp-for="userName" />
                                                <span asp-validation-for="userName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>รหัสผ่าน</label>
                                                <input type="password" class="form-control" asp-for="password" />
                                                <span asp-validation-for="password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>ยืนยันรหัสผ่าน</label>
                                                <input type="password" class="form-control" asp-for="confirmPassword" />
                                                <span asp-validation-for="confirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                สถานะ
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" asp-for="isActive" checked>
                                                    <label class="form-check-label" for="active">
                                                        ใช้งาน
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @*<div class="form-group">
                                <label>รูปโปรไฟล์</label>
                                <input type="file" class="form-control" />
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <button type="button" class="btn btn-dark" onclick="window.history.back();"><i class="fa fa-arrow-left"></i> กลับ</button>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-danger" onclick="window.history.back();"><i class="fa fa-times"></i> ยกเลิก</button>
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> บันทึก</button>
        </div>
    </div>
</form>

@section scripts{ 
    <script>
        $(document).ready(function () {

        });
        function completed(res) {
            ResponseDialog(res.responseJSON.code, '/UserManagement');
        }
    </script>
}

