
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-car"></i> เพิ่มข้อมูลรถ</h1>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="/Car">ข้อมูลรถ</a></li>
        <li class="breadcrumb-item active" aria-current="page">เพิ่มข้อมูลรถ</li>
    </ol>
</nav>

<form>
    <div class="card">
        <div class="card-header">
            <h5><i class="fa fa-clipboard-list"></i> ข้อมูลรถ</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>ประเภทรถ</label>
                        <select class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>ชื่อรถ</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>รายละเอียด</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>ยี่ห้อ</label>
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>รุ่นรถ</label>
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>โฉมรถยนต์</label>
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>รุ่นย่อย</label>
                        <select class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>เลขตัวรถ</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>เลขเครื่องยนต์</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>เลขไมล์ปัจจุบัน</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ยี่ห้อเครื่องยนต์</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>เลขถังแก๊ส</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>น้ำหนักรถ</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>สี</label>
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ระบบเกียร์</label>
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>เบาะ</label>
                        <select class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ระบบขับเคลื่อน</label>
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ประเภทเครื่องยนต์</label>
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ขนาดของเครื่องยนต์</label>
                        <select class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ประเภท</label>
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ลักษณะ</label>
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ทะเบียน</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>อุปกรณ์เสริมเพิ่มเติมอื่นๆ</h5>
                    <div class="row border-success border">
                        <div class="col-md-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="Bluetooth" readonly="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="DVD" readonly="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="USB" readonly="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="กล้องหน้า" readonly="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>วันจดทะเบียน</label>
                        <div class="input-group date" id="registerDate">
                            <input type="text" class="form-control" id="registerDateShow" value="" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="button">
                                    <i class="fa fa-calendar-alt"></i>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" id="registerDateHidden" value="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>รถปี</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>วันที่ต่อภาษีรถยนต์</label>
                        <div class="input-group date" id="extendTaxDate">
                            <input type="text" class="form-control" id="extendTaxDateShow" value="" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="button">
                                    <i class="fa fa-calendar-alt"></i>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" id="extendTaxDateHidden" value="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>ราคาภาษีรถยนต์/ปี</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>วันที่ซื้อเข้า</label>
                        <div class="input-group date" id="buyDate">
                            <input type="text" class="form-control" id="buyDateShow" value="" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="button">
                                    <i class="fa fa-calendar-alt"></i>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" id="buyDateHidden" value="" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ซื้อจาก</label>
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ราคาซื้อเข้า</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>หมายเหตุ</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <button type="button" class="btn btn-dark"><i class="fa fa-arrow-left"></i> กลับ</button>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-danger"><i class="fa fa-times"></i> ยกเลิก</button>
            <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> บันทึก</button>
        </div>
    </div>
</form>

@section scripts{ 
    <script>
        $(document).ready(function () {
            $('#registerDateShow').val(moment().locale('th').format('ll'));
            $('#registerDateHidden').val(moment().format('YYYY-MM-DD'))
            $('#registerDate.date').datepicker().on('changeDate', function (e) {
                $('#registerDateHidden').val(moment(e.date).format('YYYY-MM-DD'));
            });

            $('#extendTaxDateShow').val(moment().locale('th').format('ll'));
            $('#extendTaxDateHidden').val(moment().format('YYYY-MM-DD'))
            $('#extendTaxDate.date').datepicker().on('changeDate', function (e) {
                $('#extendTaxDateHidden').val(moment(e.date).format('YYYY-MM-DD'));
            });

            $('#buyDateShow').val(moment().locale('th').format('ll'));
            $('#buyDateHidden').val(moment().format('YYYY-MM-DD'))
            $('#buyDate.date').datepicker().on('changeDate', function (e) {
                $('#buyDateHidden').val(moment(e.date).format('YYYY-MM-DD'));
            });
        });
    </script>
}


