<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Car_Somchai</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/custom.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/datatable-bs4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css" />
    <link rel="stylesheet" href="~/lib/iCheck/skins/square/green.css" />
</head>
<body>
    <div class="layout-header">
        <div class="bar-menu">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="profile">
            สมชาย คาร์เซนเตอร์ อรัญ <i class="fa fa-caret-down"></i>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/Login">ออกจากระบบ <i class="fa fa-sign-out-alt fa-pull-right"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layout-body">
        <div class="menu">
            <ul class="list-menu">
                <li class="item-menu">
                    <a href="#"><i class="fa fa-home"></i> Dashboard</a>
                </li>
                <li class="item-menu">
                    <a href="/Car"><i class="fa fa-car"></i> ข้อมูลรถ</a>
                </li>
                <li class="item-menu">
                    <a href="/MaintenanceCar"><i class="fa fa-wrench"></i> ส่งซ่อม</a>
                </li>
                <li class="item-menu">
                    <a href="/CheckupCar"><i class="fa fa-tasks"></i> เชครถ</a>
                </li>
                <li class="item-menu">
                    <a href="/CleanCar"><i class="fa fa-spray-can"></i> ล้างทำความสะอาด</a>
                </li>
                <li class="item-menu">
                    <a href="/MakePhotoCar"><i class="fa fa-camera"></i> ถ่ายรูป</a>
                </li>
                <li class="item-menu">
                    <a href="/Sale"><i class="fa fa-file-invoice"></i> ข้อมูลการขาย</a>
                </li>
                <li class="item-menu">
                    <a href="/Customer"><i class="fa fa-id-card"></i> ข้อมูลลูกค้า</a>
                </li>
                <li class="item-menu">
                    <a href="/Setting"><i class="fa fa-cog"></i> ตั้งค่า</a>
                </li>
                <li class="item-menu">
                    <a href="/Admin"><i class="fa fa-user-cog"></i> ผู้ดูแลระบบ</a>
                </li>
                @*<li class="item-menu">
            <a href="#">ผู้ดูแลระบบ <i class="fa fa-angle-down fa-pull-right"></i></a>
            <ul class="sub-menu">
                <li class="item-sub-menu">
                    <a href="/User">ผู้ใช้งาน</a>
                </li>
                <li class="item-sub-menu">
                    <a href="/Permission">สิทธิ์การใช้งาน</a>
                </li>
                <li class="item-sub-menu">
                    <a href="/MasterData">ข้อมูลต่างๆ</a>
                </li>
            </ul>
        </li>*@
            </ul>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2562 - Car_Somchai - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatable-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.th.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/moment.js/moment-with-locales.min.js"></script>
    <script src="~/lib/iCheck/icheck.min.js"></script>
    <script src="~/lib/bootstrap-show-modal/bootstrap-show-modal.js"></script>
    <script>
        $.fn.datepicker.defaults.format = 'dd M yyyy';
        $.fn.datepicker.defaults.language = 'th';
        $.fn.datepicker.defaults.autoclose = true;
        $.fn.datepicker.defaults.todayHighlight = true;
        $.fn.datepicker.defaults.clearBtn = true;
        $(document).ready(function () {
            $('.profile').click(function () {
                $('.list-group').toggle('slide', { direction: 'up' });
            });
            $('.bar-menu').click(function () {
                var sectionMenu = $('.menu');
                sectionMenu.toggle('slide');
            });

            $('.item-menu > a').click(function () {
                $('.item-menu').removeClass('active');
                $(this).parent().addClass('active');
            })

            $('input[type=checkbox]').iCheck({
                checkboxClass: 'icheckbox_square-green',
            })
            //$('.item-menu > a').click(function () {
            //    var hasChild = $(this).siblings('.sub-menu');
            //    if (hasChild.length > 0) {
            //        if (hasChild.is(':visible')) {
            //            hasChild.hide('slide', { direction: 'up' });
            //            $(this).children('i').addClass('fa-angle-down');
            //            $(this).children('i').removeClass('fa-angle-up')
            //        } else {
            //            hasChild.show('slide', { direction: 'up' });
            //            $(this).children('i').addClass('fa-angle-up');
            //            $(this).children('i').removeClass('fa-angle-down');
            //        }
            //    }
            //})
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
