@using UseCar.Helper
@inject DropdownList dropdownList
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-tasks"></i> ตรวจสภาพ</h1>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">ตรวจสภาพ</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h5><i class="fa fa-search"></i> ค้นหาข้อมูล</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">สาขา</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="branchId" asp-items="@dropdownList.BranchAll()">
                            <option value="0">ทั้งหมด</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ยี่ห้อรถ</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="brandId" asp-items="@dropdownList.BrandAll()" onchange="BrandSelect();">
                            <option value="0">ทั้งหมด</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">รุ่นรถ</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="generationId" onchange="GenerationSelect();">
                            <option value="0">ทั้งหมด</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">โฉมรถ</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="faceId" onchange="FaceSelect();">
                            <option value="0">ทั้งหมด</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">รุ่นย่อย</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="subFaceId">
                            <option value="0">ทั้งหมด</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">วันที่ตรวจสภาพ</label>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group date" id="checkupDate">
                                <input type="text" class="form-control" id="checkupDateShow" value="" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-dark" type="button">
                                        <i class="fa fa-calendar-alt"></i>
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" id="checkupDateHidden" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">เลขทะเบียน</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="registerNumber" placeholder="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-primary" onclick="ReloadDatatable();"><i class="fa fa-search"></i> ค้นหา</button>
            </div>
        </div>
    </div>
</div>

<div class="card mt-1">
    <div class="card-header">
        <h5><i class="fa fa-clipboard-list"></i> ข้อมูลตรวจสภาพ</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <a href="/CheckupCar/Create" class="btn btn-success"><i class="fa fa-plus"></i> เพิ่มข้อมูลตรวจสภาพ</a>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-12">
                <table id="checkupCarTable" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>รูปรถ</th>
                            <th>ข้อมูลรถ</th>
                            <th>วันที่ตรวจสภาพ</th>
                            <th>โดย</th>
                            <th>
                                จัดการ
                            </th>
                        </tr>
                    </thead>
                    @*<tbody>
                        <tr>
                            <td>[บษ 1234] toyota revo single cab</td>
                            <td>2 ก.ย. 2562</td>
                            <td>สมชาย คาร์ เซนเตอร์</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-light btn-sm"><i class="fa fa-edit"></i> แก้ไข</button>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> ลบ</button>
                            </td>
                        </tr>
                        <tr>
                            <td>[กท 999] isuzu dmax cab-4</td>
                            <td>10 ส.ค. 2562</td>
                            <td>สมชาย คาร์ เซนเตอร์</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-light btn-sm"><i class="fa fa-edit"></i> แก้ไข</button>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> ลบ</button>
                            </td>
                        </tr>
                        <tr>
                            <td>[กพ 5555] mazda 3</td>
                            <td>3 ก.ย. 2562</td>
                            <td>สมชาย คาร์ เซนเตอร์</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-light btn-sm"><i class="fa fa-edit"></i> แก้ไข</button>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> ลบ</button>
                            </td>
                        </tr>
                        <tr>
                            <td>[กก 100] honda civic </td>
                            <td>3 ก.ย. 2562</td>
                            <td>สมชาย คาร์ เซนเตอร์</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-light btn-sm"><i class="fa fa-edit"></i> แก้ไข</button>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> ลบ</button>
                            </td>
                        </tr>
                    </tbody>*@
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var datatable;
        $(document).ready(function () {
            $('#checkupDateShow').val(moment().locale('th').format('ll'));
            $('#checkupDateHidden').val(moment().format('YYYY-MM-DD'))
            $('#checkupDate.date').datepicker().on('changeDate', function (e) {
                $('#checkupDateHidden').val(moment(e.date).format('YYYY-MM-DD'));
            });
            Datatable();
            $('#registerNumber').keyup(function (e) {
                if (e.keyCode === 13) {
                    ReloadDatatable();
                }
            })
        });
        function Datatable() {
            datatable = $('#checkupCarTable').DataTable({
                order: [],
                searching: false,
                ordering: true,
                lengthChange: false,
                pagingType: 'full_numbers',
                ajax: {
                    url: '/CheckupCar/GetDatatable',
                    type: 'GET',
                    data: function (d) {
                        d.branchId = $('#branchId').val(),
                            d.brandId = $('#brandId').val(),
                            d.generationId = $('#generationId').val(),
                            d.faceId = $('#faceId').val(),
                            d.subFaceId = $('#subFaceId').val(),
                            d.checkupDate = $('#checkupDateHidden').val(),
                            d.registerNumber = $('#registerNumber').val()
                    },
                    dataSrc: function (data) {
                        return data;
                    },
                    statusCode: {
                        401: function (xhr, error, thrown) {
                            window.location.reload();
                            return false;
                        }
                    }
                },
                columns: [
                    {
                        data: 'carCheckupId',
                        className: 'text-center',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: 'fileName',
                        className: 'text-center',
                        render: function (data, type, row) {
                            return row.fileName == '' ? '' : '<img src="' + row.fileName + '" width="150" height="150" />';
                        }
                    },
                    {
                        data: 'brandName',
                        render: function (data, type, row) {
                            return '<span class="badge badge-primary"> ' + row.registerNumber + '</span>' + row.brandName + ' ' + row.generationName + ' ' + row.faceName + ' ' + row.subfaceName;
                        }
                    },
                    {
                        data: 'checkupDate',
                        className: 'text-center',
                        render: function (data, type, row) {
                            return moment(row.checkupDate).add('year', 543).locale('th').format('ll');
                        }
                    },
                    {
                        data: 'checkupBy',
                        render: function (data, type, row) {
                            return row.checkupByName;
                        }
                    },
                    {
                        data: 'carCheckupId',
                        className: 'text-center',
                        render: function (data, type, row) {
                            return '<button type="button" class="btn btn-light btn-sm" onclick="View(' + row.carCheckupId + ')"><i class="fa fa-clipboard-list"></i> รายละเอียด</button>';
                                //' <br /><button type = "button" class="btn btn-warning btn-sm mt-2" data - toggle="modal" data - target="#addModal" onclick = "Edit(' + row.carCheckupId + ')" > <i class="fa fa-edit"></i> แก้ไข</button > ' +
                                //' <br /><button type="button" class="btn btn-danger btn-sm mt-2" onclick="Delete(' + row.carCheckupId + ')"><i class="fa fa-trash"></i> ลบ</button>';
                        }
                    }
                ]
            });
        }
        function ReloadDatatable() {
            datatable.ajax.reload();
        }
        function View(carCheckupId) {
            window.location.href = '/CheckupCar/View?carCheckupId=' + carCheckupId;
        }
    </script>
}


