
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-file-invoice"></i> เพิ่มข้อมูลการขาย</h1>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="/Customer">ข้อมูลการขาย</a></li>
        <li class="breadcrumb-item active" aria-current="page">เพิ่มข้อมูลการขาย</li>
    </ol>
</nav>

<form>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5><i class="fa fa-clipboard-list"></i> ข้อมูลทั่วไป</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>รหัสการขาย</label>
                                <input type="text" class="form-control" disabled value="SO201909-0001" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>สาขา</label>
                                <select class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>พนักงานขาย</label>
                                <select class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ลูกค้า</label>
                                <select class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>วันที่ออกรถ</label>
                                <div class="input-group date" id="sendDate">
                                    <input type="text" class="form-control" id="sendDateShow" value="" readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-dark" type="button">
                                            <i class="fa fa-calendar-alt"></i>
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden" id="sendDateHidden" value="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>สถานะ</label>
                                <select class="form-control">
                                    <option>จอง</option>
                                    <option>ขายแล้ว</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5><i class="fa fa-clipboard-list"></i> ข้อมูลการขาย</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>ข้อมูลรถ</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ราคารถ</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ส่วนลด</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ราคาขาย</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ประเภทการขาย</label>
                                <select class="form-control">
                                    <option>เงินสด</option>
                                    <option>จัดไฟแนนซ์</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>บริษัทไฟแนนซ์</label>
                                <select class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>เงินดาวน์</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ยอดจัดไฟแนนซ์</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>จำนวนงวด</label>
                                <select class="form-control">
                                    <option>12 งวด</option>
                                    <option>24 งวด</option>
                                    <option>36 งวด</option>
                                    <option>48 งวด</option>
                                    <option>60 งวด</option>
                                    <option>72 งวด</option>
                                    <option>84 งวด</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ราคางวดละ</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5><i class="fa fa-gift"></i> ของแถม</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="แบตเตอรี่" readonly="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="แบตเตอรี่" readonly="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="แบตเตอรี่" readonly="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="แบตเตอรี่" readonly="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="แบตเตอรี่" readonly="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="แบตเตอรี่" readonly="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="แบตเตอรี่" readonly="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="แบตเตอรี่" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>อื่นๆ</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <button type="button" class="btn btn-dark"><i class="fa fa-arrow-left"></i> กลับ</button>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-danger"><i class="fa fa-times"></i> ยกเลิก</button>
            <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> บันทึก</button>
        </div>
    </div>
</form>

@section scripts{
    <script>
        var _countTr = 0;
        $(document).ready(function () {
            $('#sendDateShow').val(moment().locale('th').format('ll'));
            $('#sendDateHidden').val(moment().format('YYYY-MM-DD'))
            $('#sendDate.date').datepicker().on('changeDate', function (e) {
                $('#sendDateHidden').val(moment(e.date).format('YYYY-MM-DD'));
            });
        });
        function AddDocument() {
            _countTr = _countTr + 1;
            var _element = '';
            _element += '<tr id="document_' + _countTr + '">';
            _element += '<td><input type="file" /></td>';
            _element += '<td><input type="text" class="form-control" /></td>';
            _element += '<td>admin</td>';
            _element += '<td class="text-center"><button type="button" class="btn btn-danger btn-sm" onclick="RemoveDocument(' + _countTr+');"><i class="fa fa-trash"></i> ลบ</button></td>';
            _element += '</tr>';
            $('#tableDocument').append(_element);
        }
        function RemoveDocument(documentId) {
            $('#document_' + documentId).remove();
        }
    </script>
}


