
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-car"></i> ข้อมูลร้านซ่อม</h1>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="/Setting">ตั้งค่า</a></li>
        <li class="breadcrumb-item active" aria-current="page">ข้อมูลร้านซ่อม</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-3 mb-1">
        <a href="/RepairShop/Shop" class="btn btn-primary btn-lg w-100 text-left text-white"><i class="fa fa-layer-group"></i> ร้านซ่อม</a>
    </div>
    <div class="col-md-3 mb-1">
        <a href="/RepairShop/CategoryShop" class="btn btn-primary btn-lg w-100 text-left text-white"><i class="fa fa-layer-group"></i> ประเภทร้านซ่อม</a>
    </div>
</div>
