@using UseCar.Helper;
@inject DropdownList dropdownList;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-warehouse"></i> รับรถ</h1>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">รับรถ</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h5><i class="fa fa-search"></i> ค้นหาข้อมูล</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">สาขา</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="branchId" asp-items="@dropdownList.BranchAll()">
                            <option value="0">ทั้งหมด</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ยี่ห้อรถ</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="brandId" asp-items="@dropdownList.BrandAll()" onchange="BrandSelect();">
                            <option value="0">ทั้งหมด</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">รุ่นรถ</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="generationId" onchange="GenerationSelect();">
                            <option value="0">ทั้งหมด</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">โฉมรถ</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="faceId" onchange="FaceSelect();">
                            <option value="0">ทั้งหมด</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">รุ่นย่อย</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="subFaceId">
                            <option value="0">ทั้งหมด</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">วันที่รับรถ</label>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group date" id="receiveDate">
                                <input type="text" class="form-control" id="receiveDateShow" value="" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-dark" type="button">
                                        <i class="fa fa-calendar-alt"></i>
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" id="receiveDateHidden" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">สถานะ</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="receiveCarStatusId" asp-items="@dropdownList.ReceiveCarStatus()">
                            <option value="0">ทั้งหมด</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">เลขทะเบียน</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="registerNumber" placeholder="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-primary" onclick="ReloadDatatable();"><i class="fa fa-search"></i> ค้นหา</button>
            </div>
        </div>
    </div>
</div>

<div class="card mt-1">
    <div class="card-header">
        <h5><i class="fa fa-clipboard-list"></i> ข้อมูลรับรถ</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <a href="/ReceiveCar/Create?carId=0" class="btn btn-success"><i class="fa fa-plus"></i> เพิ่มข้อมูลรับรถ</a>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-12">
                <table id="carTable" class="table table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th width="5%">ลำดับ</th>
                            <th width="15%">รูปรถ</th>
                            <th width="30%">ข้อมูลรถ</th>
                            <th width="15%">ราคาซื้อเข้า</th>
                            <th width="10%">วันที่รับ</th>
                            <th width="10%">สถานะ</th>
                            <th width="15%">
                                จัดการ
                            </th>
                        </tr>
                    </thead>
                    @*<tbody>
                        <tr>
                            <td><img src="https://www.checkraka.com/uploaded/logo/43/43f469bb05bcda9b93891a59816e9ac6.jpg" height="150" /></td>
                            <td class="align-middle">[บษ 1234] toyota revo single cab</td>
                            <td class="align-middle">350,000</td>
                            <td class="align-middle">425,000</td>
                            <td class="align-middle">ส่งซ่อม</td>
                            <td class="text-center align-middle">
                                <button type="button" class="btn btn-light btn-sm"><i class="fa fa-clipboard-list"></i> รายละเอียด</button>
                                <button type="button" class="btn btn-light btn-sm"><i class="fa fa-edit"></i> แก้ไข</button>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> ลบ</button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE7LHnnbWJC0k7Q2hCkClCedjsu5xMYGODgvXHQOY9uvRvZ9pL" height="150" /></td>
                            <td class="align-middle">[กท 999] isuzu dmax cab-4</td>
                            <td class="align-middle">520,000</td>
                            <td class="align-middle">590,000</td>
                            <td class="align-middle">พร้อมขาย</td>
                            <td class="text-center align-middle">
                                <button type="button" class="btn btn-light btn-sm"><i class="fa fa-clipboard-list"></i> รายละเอียด</button>
                                <button type="button" class="btn btn-light btn-sm"><i class="fa fa-edit"></i> แก้ไข</button>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> ลบ</button>
                            </td>
                        </tr>
                    </tbody>*@
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var datatable;
        $(document).ready(function () {
            $('#receiveDateShow').val(moment().locale('th').format('ll'));
            $('#receiveDateHidden').val(moment().format('YYYY-MM-DD'))
            $('#receiveDate.date').datepicker().on('changeDate', function (e) {
                $('#receiveDateHidden').val(moment(e.date).format('YYYY-MM-DD'));
            });
            Datatable();
            $('#registerNumber').keyup(function (e) {
                if (e.keyCode === 13) {
                    ReloadDatatable();
                }
            })
        });
        function Datatable() {
            datatable = $('#carTable').DataTable({
                order: [],
                searching: false,
                ordering: true,
                lengthChange: false,
                pagingType: 'full_numbers',
                ajax: {
                    url: '/ReceiveCar/GetDatatable',
                    type: 'GET',
                    data: function (d) {
                        d.branchId = $('#branchId').val(),
                        d.brandId = $('#brandId').val(),
                        d.generationId = $('#generationId').val(),
                        d.faceId = $('#faceId').val(),
                        d.subFaceId = $('#subFaceId').val(),
                        d.receiveDate = $('#receiveDateHidden').val(),
                        d.receiveCarStatusId = $('#receiveCarStatusId').val(),
                        d.registerNumber = $('#registerNumber').val()
                    },
                    dataSrc: function (data) {
                        return data;
                    },
                    statusCode: {
                        401: function (xhr, error, thrown) {
                            window.location.reload();
                            return false;
                        }
                    }
                },
                columns: [
                    {
                        data: 'carId',
                        className: 'text-center',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: 'fileName',
                        className:'text-center',
                        render: function (data, type, row) {
                            return row.fileName == '' ? '' : '<img src="' + row.fileName + '" width="150" height="150" />';
                        }
                    },
                    {
                        data: 'brandName',
                        render: function (data, type, row) {
                            return '<span class="badge badge-primary"> ' + row.registerNumber + '</span>' + row.brandName + ' ' + row.generationName + ' ' + row.faceName + ' ' + row.subfaceName;
                        }
                    },
                    {
                        data: 'buyPrice',
                        className: 'text-right',
                        render: function (data, type, row) {
                            return row.buyPrice.toLocaleString({ minimumIntegerDigits:2});
                        }
                    },
                    {
                        data: 'receiveDate',
                        className: 'text-center',
                        render: function (data, type, row) {
                            return moment(row.receiveDate).add('year',543).locale('th').format('ll');
                        }
                    },
                    {
                        data: 'statusName',
                        render: function (data, type, row) {
                            return row.statusName;
                        }
                    },
                    {
                        data: 'carId',
                        className: 'text-center',
                        render: function (data, type, row) {
                            if (row.receiveCarStatusId != 2) {
                                return '<button type="button" class="btn btn-light btn-sm" onclick="View(' + row.carId + ')"><i class="fa fa-clipboard-list"></i> รายละเอียด</button>' +
                                    ' <br /><button type = "button" class="btn btn-warning btn-sm mt-2" data - toggle="modal" data - target="#addModal" onclick = "Add(' + row.gearId + ')" > <i class="fa fa-edit"></i> แก้ไข</button > ' +
                                    ' <br /><button type="button" class="btn btn-danger btn-sm mt-2" onclick="Delete(' + row.gearId + ')"><i class="fa fa-trash"></i> ลบ</button>';
                            } else {
                                return '<button type="button" class="btn btn-light btn-sm" onclick="View(' + row.carId + ')"><i class="fa fa-clipboard-list"></i> รายละเอียด</button>';
                            }
                        }
                    }
                ]
            });
        }
        function ReloadDatatable() {
            datatable.ajax.reload();
        }
        function BrandSelect() {
            $('#generationId > option').not(':first').remove();
            var _brandId = $('#brandId').val();
            $.ajax({
                url: '/ReceiveCar/GetGenerationByBrandId',
                type: 'GET',
                data: {
                    brandId: _brandId
                },
                success: function (data) {
                    data.forEach(function (item) {
                        $("#generationId").append(new Option(item.text, item.value));
                    })
                }
            })
        }
        function GenerationSelect() {
            $('#faceId > option').not(':first').remove();
            var _generationId = $('#generationId').val();
            $.ajax({
                url: '/ReceiveCar/GetFaceById',
                type: 'GET',
                data: {
                    generationId: _generationId
                },
                success: function (data) {
                    data.forEach(function (item) {
                        $("#faceId").append(new Option(item.text, item.value));
                    });
                }
            })
        }
        function FaceSelect() {
            $('#subFaceId > option').not(':first').remove();
            var _faceId = $('#faceId').val();
            $.ajax({
                url: '/ReceiveCar/GetSubFaceByFaceId',
                type: 'GET',
                data: {
                    faceId: _faceId
                },
                success: function (data) {
                    data.forEach(function (item) {
                        $("#subFaceId").append(new Option(item.text, item.value));
                    });
                }
            })
        }
        function View(carId) {
            window.location.href = '/ReceiveCar/View?carId=' + carId;
        }
    </script>
}