
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="adminModule">
    <h1><i class="fa fa-user-cog"></i> ผู้ดูแลระบบ</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <a href="/UserManagement" class="setting-item">
                <div class="card rounded border-left-color border-top-0 border-right-0 border-bottom-0 border-width-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-img-top text-center"><i class="fa fa-user-alt fa-4x m-1"></i></div>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text text-center line-height-60">ผู้ใช้งาน</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <div class="col-md-4">
            <a href="/DepartmentManagement" class="setting-item">
                <div class="card rounded border-left-color border-top-0 border-right-0 border-bottom-0 border-width-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-img-top text-center"><i class="fa fa-address-book fa-4x m-1"></i></div>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text text-center line-height-60">แผนก</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/PermissionManagement" class="setting-item">
                <div class="card rounded border-left-color border-top-0 border-right-0 border-bottom-0 border-width-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-img-top text-center"><i class="fa fa-user-lock fa-4x m-1"></i></div>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text text-center line-height-60">ข้อมูลร้านซ่อม</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

        });
    </script>
}

